@media screen and (max-width: 485px){
    #bkg-item1{
        width: 90%;
        left: 0;
    }
    #bkg-item2{
        width: 90%;
        right: 0;
    }

}
@media screen and (min-width: 484px){
    #bkg-item1{
        width: 65%;
        left: 0;
    }
    #bkg-item2{
        width: 65%;
        right: 0;
    }

}
@media screen and (min-width: 769px){
    #bkg-item1{
        width: 45%;
        left: 10%;
    }
    #bkg-item2{
        width: 45%;
        right: 10%;
    }

}

@media screen and (min-width: 1350px){
    #bkg-item1{
        width: 30%;
        left: 10%;
    }
    #bkg-item2{
        width: 30%;
        right: 10%
    }

}
