.item:before{
    content: "";
    display: block;
    padding-top: 100%;
}

@media screen and (max-width: 485px){
    .wide-author{
        width: 25%;
    }
}
@media screen and (min-width: 484px){
    .wide-author{
        width: 25%;
    }
    .wide-intro-content{
        font-size: 1.3em;
    }
    .intro-topic{
        font-size: 2.0em ;
    }

}
@media screen and (min-width: 1050px){
    .wide-author{
        width: 25%;
    }
    .wide-intro-content{
        font-size: 1.3em;
    }
    .intro-topic{
        font-size: 2.0em ;
    }

}

@media screen and (min-width: 1350px){
    .wide-author{
        width: 25%;
    }
    .wide-intro-content{
        font-size: 1.7em;
    }
    .intro-topic{
        font-size: 2.6em ;
    }
}
