<div class="mycon" style="height:500px;">
</div>
<div class="mycon">
	<div class="myrow-m">
		<div class="one-item">
			<div class="block_intro">
				<p>我們已經收到您的訂單，將盡快與您聯絡</p>
			</div>
		</div>
	</div>
</div>
