<div class="mycon" id="about-intro">
  <div class="introbox">
    <div class="about-intro-img-con">
      <div class="about-intro-img" id="about-intro-img-con">
        <div class="about-intro-title">
          <div class="title"><p>關於</p></div>
          <div class="subtitle"><p>about</p></div>
        </div>

      </div>
      <%= image_tag "Homepage_bg_Island.png", id: "about-island" %>
    </div>
  </div>
</div>
</div>

<div class="mycon"  id="about-block1" >
  <div class="myrow-m" >
    <div class="about-con">
      <div class="about-title">
        <div class="title">
          <p>關於孤島</p>
        </div>
        <div class="subtitle">
          <p>我們的孤獨，我們的群島</p>
        </div>
      </div>

	  <div class="about-content">
		  <p>
		  身處於喧鬧的人群中，卻完全不覺得喜悅的人像座孤島；交通不便的交大在地理位置上也像座落在新竹的孤島；相較於台北台中等等大都市擁有較多的藝文活動，尚在萌芽階段的新竹也像是一座台灣德藝術孤島。<br>
		  我們小心翼翼的捧著孤獨，我們獨一無二的島存在於每個人心中的汪洋。<br>
		  <br>
		  但孤獨真的是無止盡的嗎？<br>
		  <br>
		  “No man is an island."英國詩人John Donne曾說，每個人都是大陸的一部份，是群體的一部份。我們探討孤獨，不是青春期沒有解答的自我感傷，而是榨取一絲一毫的勇氣，試圖去尋找我們在地圖上的定位，我們所屬的群島。<br>
		  </p>
	  </div>
	</div>
  </div>

  <div class="myrow" id="about-block1-e">
	  <%= image_tag "shape01.png", style: "width: 100%" %>
  </div>

</div>

<div class="mycon"  id="about-block2">
	<div class="myrow-m" >
		<div class="about-con">
			<div class="about-title">
				<div class="title">
					<p>關於紅點</p>
				</div>
				<div class="subtitle">
					<p>我們的孤獨，我們的群島</p>
				</div>
			</div>

			<div class="about-content">
				<p>
				第一屆交大藝趣節團隊於2016年5月組成，團隊成員來自交大各個科系或是研究所。<br>
				<br>
				總召 外文06 魏敏<br>
				副召/技術部部長 傳科07 林芃蕙<br>
				專案部長 外文08 張啟萱<br>
				公關部長 工工06 楊鈞宜<br>
				行銷部長 資材06 江佳芸<br>
				<br>
				「竹湖島嶼遊戲」組長 人社09 阮立凱<br>
				「音樂野台」組長 外文08 李欣平<br>
				「孤獨展」組長 人社06 黃敬勻<br>
				「文字轉蛋機」組長  應化06 廖若茗<br>
				「劇舞團」組長 資材06 王閩悅 劉芯蒲<br>
				「島言島語刊物」組長 外文08 應綻欣<br>
				「子夜享孤深夜直播」組長組長 管科07 許博涵<br>
				<br>
				</p>
			</div>


		</div>
	</div>

	<div class="myrow" id="about-block2-e">
		<%= image_tag "shape02.png", style: "width: 100%" %>
	</div>

</div>

<div class="mycon"  id="about-block3">
	<div class="myrow-m">
		<div class="about-con">
			<div class="about-title">
				<div class="title">
					<p>關於我們</p>
				</div>
				<div class="subtitle">
					<p>我們的孤獨，我們的群島</p>
				</div>
			</div>

			<div class="about-content">
				<p>你是否曾經想過，台灣的媒體還能提供好的新聞或思考嗎？還是只剩下名模、鮮肉與特色餐廳？<br>
				新聞台，除了撥放行車紀錄器跟監視器的畫面外，其實可以做得更好。<br>
				如果我們真的在乎腳下的土地，就不應該放任媒體如此占用我們的視線。<br>
				如果我們真的在乎台灣的未來，就不該放棄我們的公共領域，更不該讓它成為政黨的權力遊戲。<br>
				台灣，沒有下一個十年可以揮霍。<br>
				</p>
			</div>
		</div>
	</div>

	<div class="myrow" id="about-block3-e">
	</div>

</div>
