# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6a0af72f48a703d5cd7c34ead2c1f934ae615efa44c841879c05dd37c41c4a5ef209b874475f2547bd9d17e9d3d68d0dea1afd6d314e078054812e1fa8b2da64

test:
  secret_key_base: 306ad47897f348d4a204c537be9cb2336450ca3cdc778a247a46e8660d60e12c541254fcdb425c017aab03492ebbf6894529905bc42084bdbe857bd5bb2462bb

staging:
  secret_key_base: 0bd9366f7fd166cac8a83b3e5742f0d1f1c122c2006766358414f40710ec5f905f07f2ae87e2aff614f31dd3b2f3b8e06f93e797f8488494967c0bb1a8cdeec0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
