@charset "UTF-8";
body, p, h1, h2, h3, h4, h5, h6, a {
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  text-decoration: none; }

body {
  margin: 0; }

/* menu */
.topmenu {
  margin: 0;
  z-index: 150;
  box-shadow: 0px 5px 5px rgba(40, 40, 40, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10%;
  padding-right: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff; }
  .topmenu a {
    color: #fff;
    text-shadow: 2px 2px rgba(180, 180, 180, 0.3); }

.mylogo {
  font-size: 1.3em;
  width: 100px;
  position: relative;
  background-color: transparent;
  display: inline-block; }

.menubar_w {
  float: right;
  padding-top: 5px;
  position: relative;
  display: inline-block; }

.menubar_w_item {
  font-size: 1.3em;
  float: right;
  width: 21%;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px; }

.menubar_s {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  z-index: 300;
  cursor: pointer; }
  .menubar_s .blockV {
    position: absolute;
    top: 17px;
    height: 3px;
    left: 10px;
    width: 30px;
    background-color: #eee;
    transition: all 0.5s ease-in-out; }
  .menubar_s .blockH {
    position: absolute;
    top: 30px;
    height: 3px;
    left: 10px;
    width: 30px;
    background-color: #eee;
    transition: all 0.5s ease-in-out; }

.turnRight {
  -ms-transform: rotate(45deg) translate(1px, 8px);
  -webkit-transform: rotate(45deg) translate(1px, 8px);
  transform: rotate(45deg) translate(1px, 8px); }

.turnLeft {
  -ms-transform: rotate(-45deg) translate(1px, -7px);
  -webkit-transform: rotate(-45deg) translate(1px, -7px);
  transform: rotate(-45deg) translate(1px, -7px); }

#menublack {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none; }

#btn1_w {
  border-right: 0.5px solid #fff; }

#btn2_w {
  border-right: 0.5px solid #fff; }

.cover {
  background-color: #eee;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0; }

/* narrow */
.narrow-menu {
  position: fixed;
  top: 0;
  width: 170px;
  height: 100%;
  overflow: auto;
  z-index: 251;
  background-color: #202020;
  transition: all 1s ease-in-out;
  padding-top: 90px; }

.menu-slideIn {
  opacity: 1;
  right: 0; }

.menu-slideOut {
  opacity: 0.4;
  right: -500px; }

.side-menu-content {
  width: 100%;
  font-size: 1.3em;
  text-decoration: bold;
  color: #eee;
  border-bottom: 2px solid #eee;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center; }
  .side-menu-content a {
    color: #eee; }

/* basic */
.mycon {
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  float: left;
  z-index: 100; }

.myrow {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.myrow-m {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center; }

.one-item {
  position: relative; }

.one-item-n {
  position: relative; }

.two-item {
  position: relative; }

#footer {
  background-color: #000;
  color: #fff;
  box-shadow: 0px -3px 5px rgba(80, 80, 80, 0.5); }

/*# sourceMappingURL=basic.css.map */
