.list_box::before {
    content: "";
    display: block;
    padding-top: 100%;
}



@media screen and (max-width: 485px){
    .menubar_w{
        display: none
    }
    .menubar_s{
        display: inline-block
    }
    .block1_content{
        margin-left: 10px
    }
    .block1_content>p{
        font-size: 1.15em
    }
    .block1_title1{
        margin-left: 50px
    }
    .block1_title2{
        margin-left: 40px
    }
    .block1_1_content{
        margin-left: 20px
    }
    .block1_1_content>p{
        font-size: 1.15em
    }
    .list_box{
        width: 100%
    }
    .list_box2{
        display: none;
    }
    .list_box2_s{
        display: block;
    }
    .two-item{
        width: 80%;
    }
    .one-item-n{
        width: 60%;
    }
}

@media screen and (min-width: 486px){
    .menubar_w{
        display: none
    }
    .menubar_s{
        display: inline-block
    }
    .block1_content{
        margin-left: 80px;
    }
    .block1_content>p{
        font-size: 1.3em
    }
    .block1_title1{
        margin-left: 120px
    }
    .block1_title2{
        margin-left: 80px
    }
    .block1_1_content{
        margin-left: 60px;
        font-size: 1em;
    }
    .block1_1_content>p{
        font-size: 1.3em
    }
    .list_box{
        width: 100%
    }
    .list_box2{
        display: none;
    }
    .list_box2_s{
        display: block;
    }
    .two-item{
        width: 80%;
    }
    .one-item-n{
        width: 60%;
    }
}

@media screen and (min-width: 769px){
    .menubar_w{
        width: 80%;
        display: inline-block;
    }
    .menubar_s{
        display: none
    }
    .block1_content{
        margin-left: 40px
    }
    .block1_content>p{
        font-size: 1.3em
    }
    .block1_title1{
        margin-left: 80px
    }
    .block1_title2{
        margin-left: 20px
    }
    .block1_1_content{
        margin-left: 0
    }
    .block1_1_content>p{
        font-size: 1.3em
    }
    .list_box{
        width: 24%
    }
    .list_box2{
        width: 25%;
        display: block;
    }
    .list_box2_s{
        display: none;
    }
    .two-item{
        width: 40%;
    }
    .one-item-n{
        width: 85%;
    }
}
@media screen and (min-width: 900px){
    .block1_content{
        margin-left: 90px
    }
    .block1_content>p{
        font-size: 1.3em
    }
    .block1_title1{
        margin-left: 130px
    }
}
@media screen and (min-width: 1350px){
    .menubar_w{
        width: 50%;
        display: inline-block;
    }
    .menubar_s{
        display: none
    }
    .block1_content{
        margin-left: 180px
    }
    .block1_content>p{
        font-size: 1.3em
    }
    .block1_title1{
        margin-left: 220px
    }
    .block1_title2{
        margin-left: 80px
    }
    .block1_1_content{
        margin-left: 60px
    }
    .block1_1_content>p{
        font-size: 1.3em
    }
    .list_box{
        width: 24%
    }
    .list_box2{
        width: 25%;
        display: block;
    }
    .list_box2_s{
        display: none;
    }
    .two-item{
        width: 40%;
    }
    .one-item-n{
        width: 85%;
    }
}


@media screen and (max-width: 549px){
    #island{
        bottom: -20%
    }
}
@media screen and (min-width: 550px){
    #island{
        bottom: -40%
    }
}
