.list_box::before {
    content: "";
    display: block;
    padding-top: 100%;
}

@media screen and (max-width: 768px){
    .list_box{
        width: 100%
    }
}

@media screen and (min-width: 769px){
    .list_box{
        width: 25%
    }

