.oyeh_handwriting{
    font-family: "oyeh_handwriting";
    font-weight: 200;
}
.xingothic-tc-w2 {
    font-family: "xingothic-tc";
    font-weight: 200;
}
.jf-jinxuan-medium{
    font-family: "jf-jinxuan";
    font-weight: 200;
}
